.nav{
    background-color: rgb(3, 10, 11);
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 6rem;
    align-items: center;
    justify-content: flex-end
}
.navLogo h1{
    margin: 5px;
    color: white;
    width: auto;
}
.navLogo img{
    margin: 10px;
    width: 70px;
}
.navLogo{
    display: flex;
    align-items: center;
}
.routesContainer{
    display: flex;
}
.routes{
    font-size: large;
    margin: 3px 10px;
    display: flex;
    color: gray;
}
.currentRoute{
    font-size: large;
    margin: 3px 10px;
    display: flex;
    color: white;
}
.routes:hover{
    color:white;
}
